.git
.env
.env.*
!.env.example
vendor
node_modules
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
npm-debug.log
yarn-error.log
Dockerfile
docker-compose*.yml
