*.php.swp
.DS_Store
/.vscode
node_modules
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
Auth.json
.env
.env.backup
.env.production.local
.env.*.local
.phpunit.result.cache
/bootstrap/cache/
/storage/
/vendor/
